@model IEnumerable<FormContato.DTOs.ContactDTO>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Dashboard/DashboardLayout.cshtml";
}

<h1>@User.Identity.Name's dashboard</h1>

@* inluir logout no layout *@

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<div class="unique-url">
    <p>Insert e-mail to receive messages.</p>
    <div class="input-container">
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <input type="submit" id="email-btn" value="Ok" class="btn btn-primary" />
    </div>
    <p>Your contact page URL: <a></a></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSent)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

