@model IEnumerable<FormContato.DTOs.ContactDTO>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Dashboard/DashboardLayout.cshtml";
}

<h1>@User.Identity.Name's dashboard</h1>

@* inluir logout no layout *@

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<div class="unique-url">
    <p>Enter your e-mail to receive messages.</p>
    <form action="/Dashboard/UrlEmail" method="post">
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="E-mail">
            <input type="submit" id="email-btn" value="Ok" class="btn btn-primary" />
        </div>
    </form>
    <p>Your contact page URL: <a href="@ViewBag.Url" id="urlLink"></a></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SentTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SentTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSent)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById('email-btn').addEventListener('click', function(event) {
        event.preventDefault();
        var email = document.getElementById('email').value;
        fetch('/Dashboard/UrlEmail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'email=' + encodeURIComponent(email),
        })
        .then(response => response.text())
        .then(url => {
            var link = document.getElementById('urlLink');
            link.href = url;
            link.textContent = url;
        });
    });

</script>
